{% extends 'base.html.twig' %}

{% block title %}Nieuwe locatie{% endblock %}

{% block body %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        @media only screen and (max-width: 1000px) {
            body {
                font-size: 15px;
                margin-left: 10%;
                margin-right: 10%;
                margin-top: 10%;
            }
        }

    </style>
    <h1 style="font-size:70px">Maak een nieuwe locatie</h1>

    {{ include('locatie/_form.html.twig') }}

    <a class="btn btn-secondary btn-sm" href="{{ path('app_locatie_index') }}">BACK TO LIST</a>
{% endblock %}
